
@import "./base/fonts";
@import "./utils/breakpoints";
@import "./components/decorations";
@import "./layout/navbar";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/sections";
@import "./components/card";

@import "./layout/container";

@import "./layout/footer";


html{
    font-size: 16px;

    @include small-desktop-only(){
        font-size: 13px;
    }

    @include mobile-only(){
        font-size: 16px;
    }
}

body{
    color: $text-primary;
    margin: 0;
font-family: 'Karla', sans-serif;
@include mobile-only(){
    font-size: .6875rem;
}
}























