.container{
    display: flex;
    justify-content: space-between;
    position: relative;


    &--sns {

        flex-direction: row;
        gap: 1rem;
        margin: 0;
        padding: 0;

        .sns {
            &__item {
                position: relative;
                display: inline;
                height: 24px;
                width: 24px;
                &__link{
                    color: red;
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        fill: $text-primary;
                    }
                    .sns-icon{
                        @include image-mixin;
                        fill: $text-primary;
                    }

                }

                &:hover{
                    img{
                        color: $primary-bg;
                    }
                    .sns-icon{
                        fill: $text-secondary;
                    }
                }
            }
        }
    }
}