.footer {
    position: relative;
    padding: 70px 10.375rem;
    margin-top: 150px;
    background-color: $text-tertiary;
    text-transform: uppercase;

    @include mobile-only() {
        margin-top: 140px;
        padding: 90px 2.5rem;
        // padding-top: 90px;
        text-align: center;
    }

    .decoration--left {
        top: 0;
        height: 12.5rem;
        width: 33.125rem;

        @include tablet-only{
            transform: none;
        }

        @include mobile-only {
            display: none;
           
        }
    }

    .logo {
        position: relative;
        height: 1.25rem;
        min-width: 6.875rem;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__header {
        position: relative;
        border-bottom: 1px solid $text-primary;
        padding-bottom: 31px;
        // margin-top: 90px;


        @include mobile-only() {
            padding-bottom: 40px;
        }

        .container {
            @include mobile-only() {
                flex-direction: column;
                align-items: center;
                gap: 30px
            }
        }
    }

    .container {
        flex-direction: row;
        align-items: flex-start;

        @include mobile-only() {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }



        .container--sns {

            flex-direction: row;
            gap: 1rem;
            margin: 0;
            padding: 0;

            .sns {
                &__item {
                    position: relative;
                    display: inline;
                    height: 24px;
                    width: 24px;
                    &__link{
                        color: red;
                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            fill: $text-primary;
                        }
                        .sns-icon{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            fill: $text-primary;
                        }

                    }

                    &:hover{
                        img{
                            color: $primary-bg;
                        }
                        .sns-icon{
                            fill: $text-secondary;
                        }
                    }
                }
            }
        }
    }

    &__main {
        padding-top: 31px;

        @include mobile-only() {
            padding-top: 40px;
        }

        .container {
            flex-direction: row;
            align-items: flex-start;

            @include mobile-only() {
                flex-direction: column;
                justify-content: center;
            }

            .col {
                flex-direction: column;
                justify-content: flex-start;

                @include mobile-only() {
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 50px;
                    width: 100%;
                    align-items: center;
                }

                &__header {
                    margin-bottom: 30px;

                    @include mobile-only() {
                        margin-bottom: 40px;
                    }

                    &__title {
                        font-size: 1rem;
                        margin: 0;
                    }
                }

                &__links {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin: 0;
                    padding: 0;
                    row-gap: 1rem;

                    @include mobile-only() {
                        // flex-direction: column;
                        width: 100%;
                        margin: auto;
                        padding: 0;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }

                    &__item {
                        display: inline;

                        &__link {
                            color: $text-secondary;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }


}