.section{
    position: relative;
    margin-top: 300px;
    @extend .padding-lr;
    padding-top: 70px;

    @include mobile-only(){
        margin-top: 8.75rem;
        padding-top: 3.125rem;
        text-align: center;

        .container{
            flex-direction: column;
            gap: 60px;
        }
    }

    &::before{
        content: " ";
        position: absolute;
        top: 0;
        left: 166px;
        left: 10.375rem;
        width: 150px;
        height: 2px;
        background-color: $text-primary;

        @include mobile-only(){
            left: 50%;
            transform: translateX(-50%);
        }
    }



    &__header{
        margin-bottom: 100px;
        @include mobile-only(){
            margin-bottom: 5rem;
        }
        &__title{
            font-size: 4.8rem;
            color: $text-secondary;
            font-family: 'DM Serif Display', serif;
            font-weight: 400;
            margin: 0;

            @include mobile-only(){
                font-size:  2rem;
            }
        }
    }

    &--more{
        padding-bottom: 4.875rem;
        padding-top: 5rem ;
        margin-top: 160px;
        @include small-tablet-only(){
            text-align: center;
        }
        @include mobile-only(){
            margin-top: 140px;
        }
        
        .decoration{
            // position: relative;
            z-index:0;
            right: 0;
            height: 100%;

            @include tablet-only{
                width: 50%;
            }
            @include mobile-only(){
                transform: none;
                top: 0;
                width: 8.56rem;
            }
        }

        .section{
            
            &__header{
                width: 56%;
                margin: 0;
                @include small-tablet-only(){
                    width: 100%;
                }
                &__title{
                    color: $text-tertiary;
                    font-size: 3.81rem;
                    @include mobile-only(){
                        font-size:  1.75rem;
                    }
                }
            }
        }


        .container{
            background-color: $primary-bg;
            padding: 80px;
            align-items: center;
            @include small-tablet-only(){
                flex-direction: column;
                gap: 40px;
            }
            @include mobile-only(){
                padding: 2.75rem
            }
        }

        &::before{
            display: none;
        }


    }

}