.padding-lr, .footer, .section, .hero, .nav {
  padding-left: 10.375rem;
  padding-right: 10.375rem;
}
@media all and (max-width: 600px) {
  .padding-lr, .footer, .section, .hero, .nav {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.btn {
  position: relative;
  border: 1px solid hsl(270deg, 9%, 17%);
  padding: 0.625rem 1.5625rem;
  color: hsl(270deg, 9%, 17%);
  text-decoration: none;
  text-transform: uppercase;
  z-index: 10;
}
.btn:hover {
  cursor: pointer;
  background-color: hsl(270deg, 9%, 17%);
  color: hsl(0deg, 0%, 98%);
}
@media all and (max-width: 840px) {
  .btn--view {
    color: hsl(0deg, 0%, 98%);
    border-color: hsl(0deg, 0%, 98%);
  }
}
.btn--main {
  color: hsl(0deg, 0%, 98%);
  border-color: hsl(0deg, 0%, 98%);
}
.btn--main:hover {
  background-color: hsl(0deg, 0%, 98%);
  border-color: hsl(0deg, 0%, 98%);
  color: hsl(273deg, 4%, 51%);
}
.btn--hero {
  margin-bottom: 130px;
  margin-bottom: 8.125rem;
}
.btn--more {
  padding: 1rem 1.5rem;
}

.btn--menu {
  display: none;
  position: relative;
}
@media all and (max-width: 840px) {
  .btn--menu {
    display: block;
  }
}
.btn--menu .close-menu-btn {
  display: none;
}
.btn--menu:hover {
  cursor: pointer;
}
.btn--menu:hover:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(256deg, 26%, 20%);
  opacity: 0.1;
}
.btn--menu.active .close-menu-btn {
  display: block;
}
.btn--menu.active .open-menu-btn {
  display: none;
}

.decoration {
  position: absolute;
  top: 0;
  height: 32.5rem;
  height: 100%;
}
.decoration--left {
  left: 0;
  top: 26.875rem;
  width: 12.5rem;
}
@media all and (max-width: 900px) {
  .decoration--left {
    height: 50%;
    bottom: 0;
    transform: translateY(50%);
  }
}
@media all and (max-width: 600px) {
  .decoration--left {
    height: 85vw;
    top: 120vw;
    transform: translateY(0);
  }
}
.decoration--right {
  right: 0;
  top: 0;
  width: 26rem;
}
@media all and (max-width: 900px) {
  .decoration--right {
    height: 50%;
  }
}
@media all and (max-width: 600px) {
  .decoration--right {
    width: 137px;
    height: 330px;
    top: 100%;
    transform: translateY(-50%);
  }
}
.decoration--nav {
  display: none;
  z-index: 5;
}
@media all and (max-width: 840px) {
  .decoration--nav {
    display: inline;
    top: auto;
    bottom: 0;
    width: 100vw;
    height: 61.1vw;
  }
  .decoration--nav img, .decoration--nav source {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
}
.decoration .image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.decoration .image img, .decoration .image source {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.nav .logo {
  position: relative;
  height: 1.25rem;
  min-width: 6.875rem;
}
.nav .logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media all and (max-width: 600px) {
  .nav .logo {
    height: 1.25rem;
  }
}
.nav .navbar {
  position: relative;
  padding: 0;
}
@media all and (max-width: 840px) {
  .nav .navbar {
    display: none;
    position: absolute;
    width: 100vw;
    background-color: hsl(270deg, 9%, 17%);
    height: 100vh;
    left: 0;
    top: 5.2rem;
    z-index: 1;
    flex-direction: column;
    align-items: center;
  }
}
.nav .navbar.active {
  display: flex;
}
.nav .navbar__item {
  display: inline;
  margin-left: 1.875rem;
}
@media all and (max-width: 840px) {
  .nav .navbar__item {
    margin-left: 0;
    margin-top: 40px;
  }
}
.nav .navbar__item .link {
  text-decoration: none;
  color: hsl(273deg, 4%, 51%);
  text-transform: uppercase;
}
@media all and (max-width: 840px) {
  .nav .navbar__item .link {
    color: hsl(0deg, 0%, 98%);
  }
}
.nav .navbar__item .link:hover {
  color: hsl(270deg, 9%, 17%);
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.875rem;
  position: relative;
  height: max-content;
  padding-top: 6.5625rem;
  padding-bottom: 8.125rem;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(256deg, 26%, 20%);
}
@media all and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
}
@media all and (max-width: 600px) {
  .hero {
    padding: 0;
    gap: 0;
    padding-bottom: 5.625rem;
  }
}
.hero__image {
  position: relative;
  width: 48.7%;
}
@media all and (max-width: 900px) {
  .hero__image {
    width: 100%;
    height: 500px;
  }
}
@media all and (max-width: 600px) {
  .hero__image {
    width: 100%;
    height: 120vw;
  }
}
.hero__image img {
  position: absolute;
  width: 33.75rem;
  height: 40.625rem;
  top: 0;
  left: 0;
  object-fit: contain;
  right: 0;
}
@media all and (max-width: 900px) {
  .hero__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media all and (max-width: 600px) {
  .hero__image img {
    object-fit: contain;
  }
}
.hero__info {
  position: relative;
  width: 49%;
  padding-top: 70px;
  padding-top: 4.375rem;
}
@media all and (max-width: 900px) {
  .hero__info {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .hero__info {
    width: auto;
    padding: 0 2.5rem;
    padding-top: 6.25rem;
    text-align: center;
  }
}
.hero__info::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 2px;
  background-color: hsl(0deg, 0%, 98%);
}
@media all and (max-width: 600px) {
  .hero__info::before {
    display: none;
  }
}
.hero__info__header {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.hero__info__header__title {
  margin: 0;
  font-size: 4.8rem;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
@media all and (max-width: 600px) {
  .hero__info__header__title {
    font-size: 2rem;
  }
}
.hero__info__main {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
.hero__info__main__text {
  margin: 0;
}

.section {
  position: relative;
  margin-top: 300px;
  padding-top: 70px;
}
@media all and (max-width: 600px) {
  .section {
    margin-top: 8.75rem;
    padding-top: 3.125rem;
    text-align: center;
  }
  .section .container {
    flex-direction: column;
    gap: 60px;
  }
}
.section::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 166px;
  left: 10.375rem;
  width: 150px;
  height: 2px;
  background-color: hsl(273deg, 4%, 51%);
}
@media all and (max-width: 600px) {
  .section::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.section__header {
  margin-bottom: 100px;
}
@media all and (max-width: 600px) {
  .section__header {
    margin-bottom: 5rem;
  }
}
.section__header__title {
  font-size: 4.8rem;
  color: hsl(270deg, 9%, 17%);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin: 0;
}
@media all and (max-width: 600px) {
  .section__header__title {
    font-size: 2rem;
  }
}
.section--more {
  padding-bottom: 4.875rem;
  padding-top: 5rem;
  margin-top: 160px;
}
@media all and (max-width: 840px) {
  .section--more {
    text-align: center;
  }
}
@media all and (max-width: 600px) {
  .section--more {
    margin-top: 140px;
  }
}
.section--more .decoration {
  z-index: 0;
  right: 0;
  height: 100%;
}
@media all and (max-width: 900px) {
  .section--more .decoration {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  .section--more .decoration {
    transform: none;
    top: 0;
    width: 8.56rem;
  }
}
.section--more .section__header {
  width: 56%;
  margin: 0;
}
@media all and (max-width: 840px) {
  .section--more .section__header {
    width: 100%;
  }
}
.section--more .section__header__title {
  color: hsl(0deg, 0%, 98%);
  font-size: 3.81rem;
}
@media all and (max-width: 600px) {
  .section--more .section__header__title {
    font-size: 1.75rem;
  }
}
.section--more .container {
  background-color: hsl(256deg, 26%, 20%);
  padding: 80px;
  align-items: center;
}
@media all and (max-width: 840px) {
  .section--more .container {
    flex-direction: column;
    gap: 40px;
  }
}
@media all and (max-width: 600px) {
  .section--more .container {
    padding: 2.75rem;
  }
}
.section--more::before {
  display: none;
}

.card {
  width: 30%;
}
@media all and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card .logo {
  position: relative;
  height: 90px;
  width: 90px;
}
.card .logo img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.card__header__title {
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.375rem;
  color: hsl(270deg, 9%, 17%);
  text-transform: capitalize;
}
@media all and (max-width: 600px) {
  .card__header__title {
    font-size: 1.25rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container--sns {
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.container--sns .sns__item {
  position: relative;
  display: inline;
  height: 24px;
  width: 24px;
}
.container--sns .sns__item__link {
  color: red;
}
.container--sns .sns__item__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: hsl(273deg, 4%, 51%);
}
.container--sns .sns__item__link .sns-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: hsl(273deg, 4%, 51%);
}
.container--sns .sns__item:hover img {
  color: hsl(256deg, 26%, 20%);
}
.container--sns .sns__item:hover .sns-icon {
  fill: hsl(270deg, 9%, 17%);
}

.footer {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 150px;
  background-color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
}
@media all and (max-width: 600px) {
  .footer {
    margin-top: 140px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
  }
}
.footer .decoration--left {
  top: 0;
  height: 12.5rem;
  width: 33.125rem;
}
@media all and (max-width: 900px) {
  .footer .decoration--left {
    transform: none;
  }
}
@media all and (max-width: 600px) {
  .footer .decoration--left {
    display: none;
  }
}
.footer .logo {
  position: relative;
  height: 1.25rem;
  min-width: 6.875rem;
}
.footer .logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.footer__header {
  position: relative;
  border-bottom: 1px solid hsl(273deg, 4%, 51%);
  padding-bottom: 31px;
}
@media all and (max-width: 600px) {
  .footer__header {
    padding-bottom: 40px;
  }
}
@media all and (max-width: 600px) {
  .footer__header .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.footer .container {
  flex-direction: row;
  align-items: flex-start;
}
@media all and (max-width: 600px) {
  .footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__main {
  padding-top: 31px;
}
@media all and (max-width: 600px) {
  .footer__main {
    padding-top: 40px;
  }
}
.footer__main .container {
  flex-direction: row;
  align-items: flex-start;
}
@media all and (max-width: 600px) {
  .footer__main .container {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__main .container .col {
  flex-direction: column;
  justify-content: flex-start;
}
@media all and (max-width: 600px) {
  .footer__main .container .col {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
    align-items: center;
  }
}
.footer__main .container .col__header {
  margin-bottom: 30px;
}
@media all and (max-width: 600px) {
  .footer__main .container .col__header {
    margin-bottom: 40px;
  }
}
.footer__main .container .col__header__title {
  font-size: 1rem;
  margin: 0;
}
.footer__main .container .col__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  row-gap: 1rem;
}
@media all and (max-width: 600px) {
  .footer__main .container .col__links {
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.footer__main .container .col__links__item {
  display: inline;
}
.footer__main .container .col__links__item__link {
  color: hsl(270deg, 9%, 17%);
  text-decoration: none;
}

html {
  font-size: 16px;
}
@media all and (max-width: 1439px) {
  html {
    font-size: 13px;
  }
}
@media all and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  color: hsl(273deg, 4%, 51%);
  margin: 0;
  font-family: "Karla", sans-serif;
}
@media all and (max-width: 600px) {
  body {
    font-size: 0.6875rem;
  }
}

/*# sourceMappingURL=styles.css.map */
