.decoration{
    position: absolute;
    top: 0;
    height: 32.5rem;
    height: 100%;
    &--left{
        left: 0;
        top: 26.875rem;
        width: 12.5rem;
        @include tablet-only{
            height: 50%;
            bottom: 0;
            transform: translateY(50%);
        }

        @include mobile-only(){
            height: 85vw;
            top: 120vw;
            transform: translateY(0);
        }

    }
    &--right{
        right: 0;
        top: 0;
        width: 26rem;
        @include tablet-only{
            height: 50%;
        }
        @include mobile-only(){
            width: 137px;
            height: 330px;
            top: 100%;
            transform: translateY(-50%);
        }
    }
    &--nav{
        display: none;

        @include small-tablet-only{
            display: inline;
            top: auto;
            bottom: 0;
            width: 100vw;
            height: 61.1vw;

            img,source{
                @include image-mixin;
                right: 0;
                }
        }

        z-index: 5;

       
    }

    .image{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;

        img,source{
            @include image-mixin;
        right: 0;
        }
    }
}