.decoration{
    position: absolute;
    top: 0;
    height: 32.5rem;
    height: 100%;
    &--left{
        left: 0;
        top: 26.875rem;
        width: 12.5rem;
        @include tablet-only{
            height: 50%;
            bottom: 0;
            transform: translateY(50%);
        }



        @include mobile-only(){
            height: 320px;
            height: 85vw;
            // top: 450px;
            // top:0;
            top: 120vw;
            transform: translateY(0);
        }

    }
    &--right{
        right: 0;
        top: 0;
        width: 26rem;
        @include tablet-only{
            height: 50%;
            // width: 13rem;
            // bottom: 0;
            // transform: translateY(50%);
        }
        @include mobile-only(){
            width: 137px;
            height: 330px;
            top: 100%;
            transform: translateY(-50%);
            // bottom: 0;
        }
    }
    &--nav{
        display: none;

        @include small-tablet-only{
            display: inline;
            top: auto;
            bottom: 0;
            // width: 100vw;
            width: 100vw;
            height: 61.1vw;
            // height: fit-content;

            img,source{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                // left: 0;
                right: 0;
                }
        }
       
    }

    .image{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        // left: 0;
        right: 0;

        img,source{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        // left: 0;
        right: 0;
        }
    }
}